#search-container {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}

#result-disp {
    padding-top: 1rem;
}

.filter-btn {
    color: #782020;
    border: 1px solid #782020;
    margin: 5px;
    --bs-btn-padding-y: 0.15rem;
}

.filter-btn:hover {
    color: white;
    background-color: #782020;
}

.filter-btn:first-child {
    margin-left: 0;
}