aside {
    transition: ease-in-out 1s;
}

@media screen and (max-width: 800px) {
    aside, .sidebar-item {
        margin-left: calc(-20vw - 5px);
    }
}


aside {
    position: sticky;
    top: 8vh;
    width: 20vw;
    box-shadow: inset 0 20px 20px #eaeaea, 5px 0px #782020;
    border-radius: 3px;
    height: 92vh;
    background-color: white;
}

aside > * {
    height: 100%;
}

.sidebar-item {
    font-family: 'Libre Baskerville', sans-serif;
    color: #a94c2a;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: .1rem;
}

.sidebar-item:hover {
    color: #72321b;
}