.vertical-slider {
    height: 22vh;
    width: 1vw;
  }
  
  .example-thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: #ffffff;
    border: 5px solid #782020;
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 2px 0 #782020;
    height: 5px;
    width: 5px;
    left: -2.5px;
  }
  .example-thumb.active {
    background-color: grey;
  }
  .example-track {
    position: relative;
    background: #782020;
    width: 4px;
  }
  .example-track.example-track-0 {
    background: #dfdfdf;
  }