.vertical-slider {
    height: 60vh;
    width: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  
  .example-thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: #ffffff;
    border: 5px solid #363f54;
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
    height: 5px;
    width: 5px;
    left: -5px;
  }
  .example-thumb.active {
    background-color: grey;
  }
  .example-track {
    position: relative;
    background: rgb(75, 32, 32);
    width: 4px;
  }
  .example-track.example-track-0 {
    background: #dfdfdf;
  }