body {
    margin: 0;
    background-color: #fbe9d2;
    font-family: 'Exo 2', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    background-color: #bc4855;
    text-align: center;
    font-size: 4vh;
    color: white;
    padding: 0px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    animation: shrink-rect 3s ease 0s 1;
}

@keyframes shrink-circle {
    0% {
        position: absolute;
        left: -25vw;
        height: 150vh;
        width: 150vw;
        z-index: 1;
    }
    79% {
        position: absolute;
        left: 0;
        width: 100vw;
        z-index: 1;
    }
    100% {
        height: 30vh;
        z-index: -1;
    }
}

@keyframes shrink-rect {
    0% {
        height: 75vh;
        z-index: 3;
    }
    100% {
        height: 15vh;
        z-index: 3;
    }
}

#header-circle {
    background-color: #bc4855;
    width: 100vw;
    height: 30vh;
    border-radius: 50%;
    position: absolute;
    top: 0vh;
    z-index: -1;
    animation: shrink-circle 3s ease 0s 1;
}

h1 {
    margin: auto;
    padding-top: 2vh;
    font-size: 10vmin;
    z-index: 3;
}

main {
    height: 75vh;
}

#prompt {
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
    font-weight: 100;
    margin: auto;
    text-align: center;
    color: white;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex: 1; */
    margin: 5vmin;
    gap: 10vmin;
    /* height: 100%; */
    border-radius: 5vmin;
    border-width: 0;
    box-shadow: 1vw 1vh 0 1vmin #9c6b6e;
    background-color: #fdf5eb;
    padding: 5vmin;
    animation: zoomIn 4s ease 0s 1;
}

button {
    border-radius: 5vmin;
    border-width: 0;
    background-color: #f8a9b2;
    color: #663238;
    font-size: 8vw;
    text-align: left;
    /* margin: auto; */
    display: flex;
    gap: 3vw;
    justify-content: center;
    align-items: center;
}

p {
    margin: 1vh;
}

img {
    height: 10vh;
    margin: 1vh;
    padding-left: 1vw;
}

/* @keyframes expanding {
    0% {
        transform: scale(100);
    }
    99% {
        opacity: 1;
    }
    100% {
        transform: scale(0);
        overflow: hidden;
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}

#load-graphic {
    background-color: #bc4855;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    transition: width 2s;
    transition-timing-function: ease;
    position: absolute;
    left: 45vw;
    animation: expanding 5s ease 0s 1;
} */



/* #9c6b6e
#e76c84
#fbe9d2
#bc4855
#b1afa5
#857563
*/